<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cinemania | New Movie</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	{% include "./header.html" %}
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>Add New Favorite Movie</h1>
				<form method="POST" action="/addmovie" enctype="multipart/form-data">
					{%csrf_token%}
					
  					<div class="form-group col-md-6">
						<label>Movie Title</label>
						<input type="text" name="title" class="form-control" placeholder="Enter Movie Title">
					</div>
					<div class="form-group col-md-6">
						<label>Release Date</label>
						<input type="date" name="release_date" class="form-control" placeholder="Enter Last Name">
					</div>
					<div class="form-group col-md-6">
						<label>Main Actors</label>
						<input type="text" name="main_actors" class="form-control" placeholder="Ex: Van Diezer, Tomcluise, Loyzaga Diego,...">
					</div>	
					<div class="form-group col-md-6">
						<label>Genre</label>
						<select name="genre" class="form-control">
							<option value="">Select Genre</option>
							<option value="action">Action</option>
							<option value="romance">Romance</option>
							<option value="comedy">Comedy</option>
							<option value="thriller">Thriller</option>
							<option value="others">Others</option>
						</select>
					</div>	
					<div class="form-group col-md-6">
						<label>synopsis</label>
						<textarea name="synopsis" class="form-control" placeholder="Movie Description"></textarea>
					</div>	
					<div class="form-group col-md-6">
						<label>Movie Poster</label>
						<input type="file" name="poster" class="form-control" placeholder="Select Image">
					</div>	
					<div class="form-group col-md-6">
						<label>Trailer Link</label>
						<input type="url" name="trailer" class="form-control" placeholder="Ex: https://movies.com/forevemore/12/2014">
					</div>
					{{message}}
					<input type="submit" class="form-control btn btn-md btn-primary">
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</body>
</html>